#OS junk files
[Tt]humbs.db
*.DS_Store

#Visual Studio files
*.build.csdef
[Uu]pgrade[Ll]og*.[Xx][Mm][Ll]
*.Publish.xml
*.[Oo]bj
*.pdb
*.user
*.aps
*.pch
*.vspscc
*.vssscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.[Cc]ache
*.ilk
*.log
*.lib
*.sbr
*.sdf
ipch/
csx/
obj/
[Bb]in
[Dd]ebug*/
[Rr]elease*/
Ankh.NoLoad
_UpgradeReport_Files/
ConfigFiles/

#Tooling
_ReSharper*/
*.resharper
[Tt]est[Rr]esult*

#Project files
[Bb]uild/

#Subversion files
.svn

# Office Temp Files
~$*

# minified files
_minified.css
_minified.js
_minifiedstatic.css
_minifiedstatic.js